<header class="app-header">
    <nav class="nav-sections">
        <a (click)="navigateToNowPlaying()" class="nav-link">Now Playing</a>
        <a (click)="navigateToPopular()" class="nav-link">Popular</a>
        <a (click)="navigateToTopRated()" class="nav-link">Top Rated</a>
        <a (click)="navigateToUpcoming()" class="nav-link">Upcoming</a>
        <a (click)="navigateTofavorites()" class="nav-link">Favorites</a>
    </nav>
    <form class="search-form" (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="search" placeholder="Search movies..." name="search" />
      <button type="submit">Search</button>
    </form>

</header>
