.films {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    background-color: beige;
    justify-content: space-between;
    border-radius: 20px;
    padding: 15px;
    row-gap: 30px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    flex-grow:1;
}

.card{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.main_container {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 2%;
  height: 80vh;
}

body {
  display: block;
  margin: 8px;
}

