<div style="text-align:center">
  <h1>
    API: themoviedb.org
  </h1>
  <div class="main_container">
    <app-navbar></app-navbar>
    <div class="films">
      <app-movie-card class="card" (click)="navigateToMovieDetails(movie.id)" *ngFor="let movie of movies"
        [movie]="movie"></app-movie-card>
    </div>

  </div>
</div>

<footer class="footer">
  <div class="pagination-controls">

    <button (click)="previousPage()" class="prev-button">Previous</button>
    <button (click)="goHome()" class="home-button">Back to Home</button>
    <button (click)="nextPage()" class="next-button">Next</button>

  </div>
</footer>