.films {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: beige;
    justify-content: space-between;
    border-radius: 20px;
    padding: 15px;
    row-gap: 30px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.card{
    display: flex;
    flex-direction: column;
    width: 18%;
}