/* You can add global styles to this file, and also import other style files */
.main_container {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 2%;
  height: 80vh;
}

h2,
h1,
h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  color: brown;
}

h1 {

  text-align: center;
  padding: 30px;
  font-size: larger;
}

h2 {
  height: 40px;
}

h3 {
  font-size: xx-small;
  margin-top: 7px;
  color: rgb(156, 96, 96);
}

li,
a {
  margin: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: brown;
  text-decoration: none;
}

#genres_menu {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: rgb(209, 209, 188);
  justify-content: space-between;
  align-self: stretch;
  margin: 0px;
  border-radius: 20px;
  list-style-type: none;
  padding: 15px;

}

#films {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  background-color: beige;
  justify-content: space-between;
  border-radius: 20px;
  padding: 15px;
  row-gap: 30px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

#films::-webkit-scrollbar {
  width: 6px;
}

.navdiv {
  display: flex;
  justify-content: space-around;
  width: 76%;
  background-color: rgb(209, 209, 188);
  border-radius: 7px;
  margin-left: 21%;
  margin-top: 10px;
}

.film-poster {
  display: flex;
  flex-direction: column;
  width: 18%;
}

.img-poster {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.img-poster:hover {
  transform: scale(1.05);
}
